



/* ------------------------------- Universal class modifiers will go above here---------------------------------------------------*/


.backgroundIndex{
    background-image: url(/assets/Movie_Theater.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
}




/*-------------------------------------------------------------Dans CSS Code Goes above this---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------Rafas CSS Code goes below this--------------------------------------------------------------------------------------------------------------------*/


h1 {
    text-align: center;
}
